@import '../../../scss/global';

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;

  &__content {
    width: 90%;
  }

  &__header {
    text-align: center;

    h2 {
      font: {
        weight: 700;
        size: $DEFAULT_FONT_SIZE_XL;
      }
      margin: 0;
    }

    h3 {
      font: {
        size: $DEFAULT_FONT_SIZE_M;
      }
      margin: 0;
    }
  }

  &__form {
    margin-top: $DEFAULT_MARGIN_L;
  }

  &__link {
    margin-top: $DEFAULT_MARGIN_M;
  }

  &__form-item {
    display: none;
    &#{&}--invalid {
      background: var(--color-danger-100);
      border: 1px solid var(--color-danger-500);
    }
  }

  &__alert {
    color: var(--color-danger-500);
    font-size: $DEFAULT_FONT_SIZE_S;
    margin-top: $DEFAULT_MARGIN_S;
  }
}