@import "../../../scss/global";

.ButtonControl {
  width: 100%;
  margin-top: $DEFAULT_MARGIN_S;
  padding: $DEFAULT_PADDING_S;
  border: 0;
  font-size: $DEFAULT_FONT_SIZE_S;
  font-weight: 700;
  outline: 0;
  border-radius: $DEFAULT_BORDER_RADIUS_M;
  box-sizing: border-box;

  &--primary {
    background: var(--color-primary-100);
    color: var(--color-primary-600);
  }

  &--secondary {
    border: $DEFAULT_BORDER_SIZE_S solid var(--color-primary-200);
    color: var(--color-primary-400);
    background: transparent;
  }

  &--danger {
    background: var(--color-danger-100);
    color: var(--color-danger-600);
  }
}