@import "../../../scss/global";

.ButtonControl {
  width: 100%;
  margin-top: $DEFAULT_MARGIN_S;
  padding: $DEFAULT_PADDING_S;
  border: 0;
  font-size: $DEFAULT_FONT_SIZE_S;
  font-weight: 700;
  outline: 0;
  border-radius: $DEFAULT_BORDER_RADIUS_M;
  box-sizing: border-box;

  &--primary {
    background: var(--color-primary-100);
    color: var(--color-primary-600);
  }

  &--secondary {
    border: $DEFAULT_BORDER_SIZE_S solid var(--color-primary-200);
    color: var(--color-primary-400);
    background: transparent;
  }

  &--danger {
    background: var(--color-danger-100);
    color: var(--color-danger-600);
  }

  &--warning {
    background: var(--color-warning-100);
    color: var(--color-warning-600);
  }

  &__loader {
    text-indent: -9999em;
    width: $DEFAULT_FONT_SIZE_L;
    height: $DEFAULT_FONT_SIZE_L;
    border-radius: 50%;
    background: var(--color-primary-500);
    background: -moz-linear-gradient(left, var(--color-primary-500) 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, var(--color-primary-500) 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, var(--color-primary-500) 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, var(--color-primary-500) 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, var(--color-primary-500) 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    left: calc(50% - 20px / 2);
  }

  &__loader:before {
    width: 50%;
    height: 50%;
    background: var(--color-primary-500);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &__loader:after {
    background: var(--color-primary-100);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}