@import "../../../scss/global";

.Section {
  padding: $DEFAULT_PADDING_S;
  background: $COLOR_WHITE;
  box-shadow: $DEFAULT_SHADOW_M;
  border-radius: $DEFAULT_BORDER_RADIUS_M;
  margin: $DEFAULT_MARGIN_S 0;

  &__headline {
    font-weight: 700;
    color: $COLOR_FONT_PRIMARY;
    text-transform: uppercase;
  }

  &__content {
    margin-top: $DEFAULT_MARGIN_M;
  }
}