@import "../../../scss/global";

.TrackerButton {
  border-radius: $DEFAULT_BORDER_RADIUS_M;
  padding: $DEFAULT_PADDING_S;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-500);

  &__label {
    color: var(--color-white);
    font: {
      weight: 700;
      size: $DEFAULT_FONT_SIZE_S;
    }
  }

  &__training-select {
    background: transparent;
    border: none;
    color: var(--color-primary-100);
    margin: $DEFAULT_MARGIN_XS 0 0;
    border-bottom: 1px solid var(--color-primary-300);
    padding: $DEFAULT_PADDING_XXS;
    border-radius: $DEFAULT_BORDER_RADIUS_S;
    font: {
      size: $DEFAULT_FONT_SIZE_S;
    }

    option {
      padding: 0;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    font-size: $DEFAULT_FONT_SIZE_M;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-100);
  }

  &__warning {
    color: var(--color-primary-100);
    font-size: $DEFAULT_FONT_SIZE_S;
    display: flex;
    justify-content: left;
    align-items: center;

    &-icon {
      width: $DEFAULT_FONT_SIZE_M;
      height: $DEFAULT_FONT_SIZE_M;
      margin-right: $DEFAULT_MARGIN_XS;
    }
  }

}