@import "src/scss/global";

.Header {
  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $DEFAULT_PADDING_S;
    box-shadow: 1px 1px 8px rgba(0,0,0,.2);
  }

  &__logo {
    font-weight: 700;
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      content: "FM";
      background: $color_primary;
      color: $color_white;
      left: 100%;
      font-size: 12px;
      padding: 8px;
      margin-right: $DEFAULT_MARGIN_S;
    }
  }
}