$DEFAULT_FONT_SIZE_S: 14px;
$DEFAULT_FONT_SIZE_M: 16px;
$DEFAULT_FONT_SIZE_L: 18px;
$DEFAULT_FONT_SIZE_XL: 22px;

$DEFAULT_PADDING_S: 16px;
$DEFAULT_PADDING_M: 32px;
$DEFAULT_PADDING_L: 48px;

$DEFAULT_MARGIN_XS: 4px;
$DEFAULT_MARGIN_S: 8px;
$DEFAULT_MARGIN_M: 16px;
$DEFAULT_MARGIN_L: 32px;

$DEFAULT_BORDER_RADIUS_S: 2px;
$DEFAULT_BORDER_RADIUS_M: 4px;
$DEFAULT_BORDER_RADIUS_L: 8px;

$DEFAULT_SHADOW_S: 0 2px 4px rgba(0,0,0,.2);
$DEFAULT_SHADOW_M: 0 4px 16px rgba(0,0,0,.2);
$DEFAULT_SHADOW_L: 0 16px 32px rgba(0,0,0,.2);

$COLOR_WHITE: #ffffff;
$COLOR_PRIMARY: #34ace0;
$COLOR_BACKGROUND: #efefef;

$COLOR_FONT_PRIMARY: #153b4d;