$DEFAULT_PADDING_S: 16px;
$DEFAULT_PADDING_M: 32px;
$DEFAULT_PADDING_L: 48px;

$DEFAULT_MARGIN_S: 8px;
$DEFAULT_MARGIN_M: 16px;
$DEFAULT_MARGIN_L: 32px;

$color_white: #ffffff;
$color_primary: #e67e22;