@import "colors";

$HEADER_SIZE: 64px;

$DEFAULT_FONT_SIZE_XS: 12px;
$DEFAULT_FONT_SIZE_S: 14px;
$DEFAULT_FONT_SIZE_M: 16px;
$DEFAULT_FONT_SIZE_L: 20px;
$DEFAULT_FONT_SIZE_XL: 24px;

$DEFAULT_PADDING_XXS: 4px;
$DEFAULT_PADDING_XS: 8px;
$DEFAULT_PADDING_S: 16px;
$DEFAULT_PADDING_M: 32px;
$DEFAULT_PADDING_L: 48px;

$DEFAULT_MARGIN_XS: 4px;
$DEFAULT_MARGIN_S: 8px;
$DEFAULT_MARGIN_M: 16px;
$DEFAULT_MARGIN_L: 32px;
$DEFAULT_MARGIN_XL: 48px;

$DEFAULT_BORDER_RADIUS_S: 4px;
$DEFAULT_BORDER_RADIUS_M: 6px;
$DEFAULT_BORDER_RADIUS_L: 8px;

$DEFAULT_BORDER_SIZE_S: 2px;
$DEFAULT_BORDER_SIZE_M: 4px;
$DEFAULT_BORDER_SIZE_L: 6px;

$DEFAULT_SHADOW_S: 0 2px 4px rgba(0,0,0,.2);
$DEFAULT_SHADOW_M: 0 4px 16px rgba(0,0,0,.2);
$DEFAULT_SHADOW_L: 0 16px 32px rgba(0,0,0,.2);

$COLOR_ACCENT_PRIMARY_LIGHTEN-1: #45A7DB;
$COLOR_ACCENT_PRIMARY_LIGHTEN-2: #55aedd;
$COLOR_ACCENT_PRIMARY_LIGHTEN-3: #6bc7f8;
$COLOR_ACCENT_PRIMARY_LIGHTEN-4: #ACC3CF;

$COLOR_ACCENT_PRIMARY_DARKEN-1: #027FC1;
$COLOR_ACCENT_PRIMARY_DARKEN-2: #026498;
$COLOR_ACCENT_PRIMARY_DARKEN-3: #024B72;
$COLOR_ACCENT_PRIMARY_DARKEN-3: #012A40;

$COLOR_PRIMARY_BACKGROUND: #CDEAF8;
$COLOR_PRIMARY_TEXT: #0097e6;

$COLOR_DANGER_BACKGROUND: #FBE5E5;
$COLOR_DANGER_TEXT: #B41E1D;

$COLOR_FONT_PRIMARY: #153b4d;

// colors

$COLOR_BACKGROUND: #fcfcff;